
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    
}

.navbar{
    height:160px;
    width:100%;
    background-color: #0b2c46;
}

.nav{
    user-select:none;
    max-width: 1100px;
    margin:0 auto;
}

.navbarTop{
    width:100%;
    height:50%;

    display:flex;
    justify-content: space-between;
    align-content: center;
}

.navbarItems{
    width:500px;
    height:100%;
    display: flex;
}

#logo{
    font-size: x-large;
    font-weight: 700;
    font-family: 'Nunito Sans', sans-serif;
    color: #b8d9f6;
    /* text-shadow: 0px 0px 5px rgb(153, 255, 85); */
    align-items: center;
}

.navbarItems:nth-of-type(2){
    display:flex;
    justify-content: space-around;
    align-content: center;
}

.buttonStyle{
    margin:auto 0;
    width:90px;

    border-radius: 10px;

    height:30px;
    background-color: #0b2c46;
    border: 2px solid #b8d9f6;
    cursor: pointer;
    font-size: 1em;
    font-weight:500;
    color: #b8d9f6;

    transition:all 0.2s ease;

}

.buttonHover:hover{

    background-color: #b8d9f6;
    color: #0b2c46;
    border:4px solid #0b2c46;
    transition: all 0.2s ease-out;

}

/* .buttonStyle:active{
    background-color: #0b2c46;
    color: #b8d9f6;
    border: 0px solid  #0b2c46;
    transition: none;
} */


.navbarOptions{
    width:100%;
    height:50%;

    display:flex;

    justify-content: space-between;
    align-content: center;
}

.options{
    width:200px;
    height:100%;
    margin: auto 0;
}


.options:nth-of-type(1){
    line-height: 3em;
    font-size: 1.2em;
    width:250px;
    text-align: left;
    color: #b8d9f6;
    cursor: pointer;
}
.options:nth-of-type(1):hover{
    /* font-size: 1.1em; */
    text-shadow: 0px 0px 5px #fff;
    
    transition: text-shadow 0.2s ease-out;
}
.options:nth-of-type(1):active{
    text-shadow: none;
    transition: none;
}

.options:nth-of-type(4){
    display: flex;
    justify-content: space-between;
}

.bigButton{
    width:45%;
    margin-top: 8px;
    height:60px;
    
    border-radius: 10px;
    background-color: #0b2c46;
    border: none;
    cursor: pointer;
    font-size: 2em;
    text-align: center; line-height: 0px;

    font-weight:500;
    color: #b8d9f6;

}
.bigButtonHover:hover{
    background-color: #b8d9f6;
    color: #0b2c46;
    border:3px solid #b8d9f6;

    transition: all 0.2s ease-out;
}

.bigButton:active{
    background-color: #0b2c46;
    color: #b8d9f6;
    border: 0px solid  #0b2c46;
    transition: all 1s ease-out;
}


#speed{
    display: flex;
    flex-direction: column;
    
    justify-content:space-around;
    align-items: left;


    font-size: 1.2em;
    color: #b8d9f6;

}
#speed span{
    width: 100%;
    height:50px;
    text-align: left;
    margin-top: 13px;
}
#speed input{
    width: 80%;
    margin-bottom: 15px;
}

#number{
    display: flex;
    flex-direction: column;
    
    justify-content:space-around;
    align-items: left;


    font-size: 1.2em;
    color: #b8d9f6;

}
#number span{
    width: 100%;
    height:50px;
    text-align: left;
    margin-top: 13px;
}
#number input{
    width: 80%;
    margin-bottom: 15px;
}




#container{
    width:100%;
    height: 800px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 50px;
    background-color: #091c2e;
}

.containerItem{
    width:100%;
    max-width: 1100px;
}

#values{
    /* background-color: aquamarine; */
    height:400px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-end;
}

#base{
    height : 30px;
    border: 4px solid #b8d9f6;
}

.value{
    background-color: #6b334e;
    /* border:2px solid black; */
    margin-left: 1px;
    margin-right:1px;
    /* transition: height 1s cubic-bezier(0.25,0.5,0.25,1); */
}

.selected{
    margin:auto 0;
    width:90px;

    border-radius: 20px;

    height:30px;
    background-color: #4adf72;
    border: none;

    cursor: pointer;
    font-size: 1.1em;
    font-weight:700;
    color: #0b2c46;

    transition: all 0.2s linear;
}

.notSelected{
    margin:auto 0;
    width:90px;

    border-radius: 10px;

    height:30px;
    background-color: #0b2c46;
    border: none;
    cursor: pointer;
    font-size: 1em;
    font-weight:500;
    color: #b8d9f6;
    opacity: 0.5;

    transition: all 0.2s ease;
}

.disabled{
    pointer-events: none;
}